/*Mobile first*/

.fotodeproducto{
    box-shadow: 2px 2px 2px 2px black;    
    height: 70vh;
    &:hover{
        transition: 2ms;
        transform: scale(1.05);
    }
}

.textos{
        font-size: 1rem;
        font-family: 'Gulzar', serif;
        color:$colordetextodeparrafo;

    &::first-letter{
        font-size: 3rem;
        float:left;
        font-family: 'Gulzar', serif;
        color:$colordeprimeraletra;
    }
}

.fotodeNoticia1{
    background-color: $colordefoto1;
}
.bgNoticia1{
    background-color: $colordereceta1;
}
  