/*Colores de fondos*/
$colordefondodetitulos:violet;
$colordefondodefooter:pink;
$colordefondodeencabezado: blue;
$colordetextodeencabezado: white;
$colordeprimeraletra: red;
$colordetextodeparrafo: gray;
$colordereceta1: rgb(255, 253, 192);
$colordefoto1: rgba(154, 242, 170, 0.891);
