/*Colores de fondos*/
$colordefondodetitulos:violet;
$colordefondodefooter:pink;
$colordefondodeencabezado: blue;
$colordetextodeencabezado: white;
$colordeprimeraletra: red;
$colordetextodeparrafo: gray;
