$vista:mobile;

.responsivo{
@if $vista==desktop {
    @media only screen and (min-width:1024px){
        p{font-size: $parrafoDesktop;}
        
    }
    
}@else if$vista==mobile{
    @media only screen and (max-width:767px){
        p{font-size: $parrafoMobile;}
}

}@else{
        p{font-size:  20px;}
}
}